<!--row starts-->
<div class="row">
    <div class="col-12">
        <label class="text-center">Please choose subject for {{categoryName}}</label>
    </div>
    <!--label div ends-->

    <!--select container starts-->
    <div class="col-12 pt-5 bd-highlight border border-warning rounded" id="select-subject" >
        <div class="row">
            <!--select tag starts-->
            <div class="col-8 mt-5 mb-1">
                <select class="custom-select" #selectedSubject>
                    <option class="text-center" [ngValue]="name" *ngFor="let name of uniqueSubjectName">
                        {{name}}
                    </option>
                </select>
                <!--select tag ends-->
            </div>
            <div class="col-4 mt-5">
                <a (click)="getQuestion(selectedSubject.value)" role="button" class="btn btn-outline-success">
                    Ok
                </a>
            </div>
        </div>
        <!--select tag ends-->
        <div class="row">

            <!--go baack button container starts-->
            <div class="col-3">
                <a (click)="goBack()" role="button" class="btn btn-sm btn-outline-warning">
                    <i class="fa fa-solid fa-arrow-left-long"></i>
                </a>
            </div>
            <!--go back button container ends-->
        
            </div>
        
    </div>
       <!--select container ends-->
</div>


<!--row ends-->