
<div [hidden]="!found" class="row">
    <div class="col-12 ml-5 pl-5">
        <label class="text-info text-center">Please choose year?</label>
    </div>
   <div class="col-12">
    <div class="row">
        <div class="col-1 d-flex align-items-center" id="arrow">
            <a role="button" (click)="goBack()" 
            class="btn btn-sm btn-outline-primary" >
                <i class="fa-solid fa-circle-arrow-left"></i>
            </a>
        </div>
        <div class="col-8 ml-3">
            <select (change)="goToQuestion($event)" class="custom-select">
                <option value="" class="text-center">Select</option>
                <option [ngValue]="date" class="text-center" *ngFor="let date of dates">
                    {{date}}
                </option>
            </select>
        </div>
    </div>
   </div>
   
</div>
