
<div [hidden]="found == false"  class="row bg-white mt-0 mr-4" id="questions-area">

    <ul class="list-unstyled">
        
        <li *ngFor="let record of subjects">
            <!--question and question number starts-->
           <div class="col-12">
            <div class="row">
                <div class="col-1">
                    <label> {{record.questionNumber}} </label>
                </div>
                <div class="col-10">{{record.question}}</div>
            </div>
           </div>
           <!--question and question number ends-->  
            <!--option labels and options starts-->
            <div class="col-12">
                <div class="row">
                    <div class="col-1">
                        <label>A</label>
                    </div>
                    <div class="form-check col-10">
                        <label class="form-check-label">
                        <input (click)="saveAttempt($event)" type="radio" [value]="record.options.a"
                        class="form-check-input" name="{{record.questionNumber}}">{{record.options.a}}
                    </label>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <div class="row">
                    <div class="col-1">
                        <label>B</label>
                    </div>
                    <div class="form-check col-10">
                        <label class="form-check-label">
                        <input (click)="saveAttempt($event)" type="radio" [value]="record.options.b"
                        class="form-check-input" name="{{record.questionNumber}}">{{record.options.b}}
                    </label>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <div class="row">
                    <div class="col-1">
                        <label>C</label>
                    </div>
                    <div class="form-check col-10">
                        <label class="form-check-label">
                        <input (click)="saveAttempt($event)" type="radio" [value]="record.options.c"
                        class="form-check-input" name="{{record.questionNumber}}">{{record.options.c}}
                    </label>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <div class="row">
                    <div class="col-1">
                        <label>D</label>
                    </div>
                    <div class="form-check col-10">
                        <label class="form-check-label">
                        <input (click)="saveAttempt($event)" type="radio" [value]="record.options.c"
                        class="form-check-input" name="{{record.questionNumber}}">{{record.options.c}}
                    </label>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <div class="row">
                    <div class="col-1">
                        <label>E</label>
                    </div>
                    <div class="form-check col-10">
                        <label class="form-check-label">
                        <input (click)="saveAttempt($event)" type="radio" [value]="record.options.e"
                        class="form-check-input" name="{{record.questionNumber}}">{{record.options.e}}
                    </label>
                    </div>

                </div>
            </div>

            <!--option labels and options ends-->

        </li>
    
    </ul>

</div>
