body{
    background: url(assets/bg-folder/Main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.top-sidebar{
    min-height: 80vh;
}
.side-bar-link{
    text-decoration: none;
    
}
.side-bar-link:hover{
text-decoration: none;
}
.dateDiv{
   
    width: 300px;
    min-height: 30vh;
}
.dateSelection{
    width: fit-content;
    height: fit-content;
    
}
.date-label{
    font-weight: bold;
    font-size: larger;
}
.dateDiv:hover{
    background-color: black;
    border: none !important;
}
div.inline{
    float: left;
    margin-left: 30%;
}
.go-back:hover{
    text-decoration: none;
    
}
.go-back{
    padding-top: 5%;
    
}