
body{
    background: url(assets/bg-folder/Main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


@media (max-width:640px) {
        .side-bar-container{
            border: none !important;
            border-style: none !important;
        };
    }
    
