
body{
    background: url(assets/bg-folder/Main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.disable-click{
    pointer-events: none;
    background-color: gray;
    max-width: fit-content;
    
}

@media (max-width:640px) {
        .side-bar-container{
            border: none !important;
            border-style: none !important;
        };
    }
    
