<nav class="navbar navbar-expand-md navbar-light bg-dark ml-0 pl-0">
    <div class="container-fluid">
        <a href="" class="navbar-brand"><img src="{{logo}}" class="logo img-fluid rounded-circle" alt="edukademiks Logo"></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mx-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">About Us</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Log in</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Sign up</a>
                </li>
            </ul>
            <form action="#" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2"  type="search" placeholder="Search an exercise" aria-label="Search">
                <button class="btn btn-outine-success my-2 my-sm-0" type="submit"></button>
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid">
<!--The side bar begins here-->
<div class="row top-sidebar no-gutters">
<div class="col-md-3 side-bar-container col-lg-1 border 
border-top-0 border-bottom-0 border-success">
<app-subject-category></app-subject-category>

</div>

<!--The main content starts here-->
<div class="col-md-9 col-lg-11 d-flex justify-content-center align-items-center" id="main-content">
    <router-outlet></router-outlet>
</div>

<!--The main content ends here-->

</div>

</div>