
<div [hidden]="!found" class="row">
    
    <div class="col-12">
        <label class="text-info text-center ml-3">Please choose category?</label>
    </div>
   <div class="col-12"
    >
    
    <div class="col-8">
        <select (change)="processSelection($event)" class="custom-select">
            <option value ="" class="text-center">Select</option>
            <option [ngValue]="category.id" class="text-center"  
             *ngFor="let category of categoryNameAndId" id="{{category.id}}">
                {{category.name}}
            </option>
        </select>
    </div>
   </div>
    
</div>
