/* home.component.css */
.gridList {
  width: 100%;
}




.welcome{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

mat-grid-tile{
  display: flex;
  flex-direction: column;
}

mat-card{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#example-radio-group-label{
  font-weight: bolder;
  font-size: large;
}

.example-radio-button{
  font-style: italic;
}

#radio-label-div{
  text-align: center;
}
.levelRadioGroup{
  text-align: center;
  margin-top: 50px;
}