/* home.component.css */
.gridList {
  width: 100%;
}




.welcome{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

mat-grid-tile{
  display: flex;
  flex-direction: column;
}

mat-card{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}